body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0px 150px 80px 150px;
    gap: 100px;
}
.top{
    display: flex;
    justify-content: space-between;
}
main{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-right: 15px ;
   
}
.nav li a, .sub-text{
    
    font-size: 18px;
    color: #a5a8b0;
}
.hero-txt{
    font-size: 48px;
    font-weight: 900 ;
    color: #f9faf8;
    font-family: "Roboto";
    margin-bottom: 10px;
}
.left{
    margin-left: 20px;
    
}
.signup{
    background-color: #3882f6;
    border-radius: 7px;
    border-style: none;
    padding: 8px 25px;
    color: #f9faf8;
}
.more{
    margin-top: 15px;
}
.logo{
    margin: 0;
    padding: 0;
    width: 125px;
}
.hero-img{
    height: auto;
    width: 500px;
    border-radius: 12px;
}
/* ----------------------header------------------------- */
.Sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0px 200px 80px;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.cards div{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.cards img{
    width: 220px;
    height: 300px;
    border-radius: 12px;
    object-fit: cover;
}
.info{
    margin-top: 50px;
    font-family: "Roboto",sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.cards div div{
    font-size: 20px;
    color: #66676a;
}

/* -----------------Sec2----------------------------------- */
.Sec3{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 120px 300px;
    justify-content: center;
    align-items: center;
}
.quote{
    font-family: "Roboto";
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color:#1f2937 ;
}
.author{
    font-family: "Roboto";
    align-self: flex-end;
    color:#1f2937 ;
    margin-right: 20px;
    font-size: 36px;

}
/* --------------------Sec3-------------------------- */
.Sec4{
    padding: 100px 200px;
}
.box{
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 100px 50px 100px;
    border-radius: 15px;
}
.more2{
    border:2px solid white ;
}
.box1{
    font-family: "Roboto",sans-serif;
    color: white;
    font-size:25px;
    margin-bottom: 5px;
}
.box2{
    font-family: "Roboto",sans-serif;
    color: #ecedef;
    font-weight: 300 ;
}
/* -----------------------Sec4-------------------- */
footer{
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(184, 181, 181);
    padding: 50px 200px;
}