body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0px 200px 80px;
    gap: 100px;
}
.top{
    display: flex;
    justify-content: space-between;
}
main{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
   
}
.nav li a, .sub-text{
    
    font-size: 18px;
    color: #a5a8b0;
}
.hero-txt{
    font-size: 48px;
    font-weight: 900 ;
    color: #f9faf8;
    font-family: "Roboto";
}
.left{
    margin-left: 20px;
    
}
.signup{
    background-color: #3882f6;
    border-radius: 7px;
    border-style: none;
    padding: 8px 25px;
    color: #f9faf8;
    margin-top: 10px;
    
}
.logo{
    margin: 0;
    padding: 0;
    width: 150px;
}
.hero-img{
    height: auto;
    width: 500px;
}
/* ----------------------header------------------------- */
.Sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0px 200px 80px;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.cards div{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.cards img{
    width: 220px;
    height: 300px;
    border-radius: 12px;
    object-fit: cover;
}
.info{
    margin-top: 50px;
    font-family: "Roboto",sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.cards div div{
    font-size: 20px;
    color: #66676a;
}

/* -----------------Sec2----------------------------------- */
